<% extend 'default.html' %>

<div class="user-top clearfix">
    <div class="user-name">
        <h1><%- @author.fullName %></h1>
    </div>
</div>

<div class="albums clearfix">

    <% for album in @albums : %>
    <div class="item">
        <a href="<%- album.url  %>">
            <div class="item-img">
                <b class="b2"></b><b class="b1"></b><img src="<%- album.thumb %>" alt="<%- album.title %>"/>
            </div>
            <div class="item-title">
                <h2><%- album.title %></h2>
            </div>
        </a>
    </div>
    <% end %>

</div>